* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#200016, #10001f);
    height: 100vh;
    margin: 0;
    font-family: system-ui;
    text-align: center;
    justify-content: center;
    
}

div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* section {
    background: url('stars1.webp');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

a {
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}


b {
    text-decoration: none;
    color: #e21818;
    font-size: 28px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 30px;
  
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
   
}

header ul li a:hover,
.Active {
    background: #fff;
    color: #200016;
}




/* a {
    text-decoration: none;
    color: aliceblue;
} */




.container {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 80px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}


input[type="text"],
input[type="password"],
input[type="email"],
button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bottom-paragraph{
    color: #fff;
    font-size: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

